@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* variables */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  background-color: rgb(101, 101, 231);
  background: linear-gradient(0deg, rgb(101, 101, 231) 0%, rgb(175, 103, 233) 70%);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  overflow-x: hidden;
  line-height: 1.5;
  font-family: "Kumbh Sans", sans-serif;
}

.lead {
  font-size: 1.5rem;
}

.faq-section {
  border-radius: 20px;
  margin-top: 12rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.5rem;
  background-color: #fff;
  width: 320px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.4);
}
.faq-section .banner {
  width: 100%;
  transform: translateY(-50%);
  padding: 0 2rem;
  margin-bottom: -80%;
}
.faq-section .banner img {
  width: 100%;
}
.faq-section .banner .banner-image::after {
  display: block;
  content: url("../assets/images/bg-pattern-mobile.svg");
  transform: translateY(-70%);
}

.faq {
  width: 100%;
  margin-top: 1rem;
}
.faq header {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: hsl(238deg, 29%, 16%);
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
.faq details {
  border-bottom: 1px solid hsl(240deg, 5%, 91%);
  padding: 1rem 0;
}
.faq details summary {
  display: flex;
  color: hsl(238deg, 29%, 16%);
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 1rem;
}
.faq details summary:hover {
  cursor: pointer;
  color: hsl(14deg, 88%, 65%);
}
.faq details summary::after {
  transition: all 0.5s;
  display: block;
  content: url("../assets/images/icon-arrow-down.svg");
}
.faq details p {
  padding-right: 2rem;
  font-size: 0.9rem;
  margin-top: 0.7rem;
  color: hsl(240deg, 6%, 50%);
}
.faq details[open] summary {
  font-weight: 600;
}
.faq details[open] summary::after {
  transform: rotate(-180deg);
}

.attribution {
  margin: 2rem auto;
  text-align: center;
  font-size: 1.3rem;
}

@media screen and (min-width: 900px) {
  body {
    padding: 6rem;
  }

  .faq-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    background-image: url("../assets/images/bg-pattern-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 65% left -550px;
    width: 900px;
    z-index: 2;
    max-width: none;
    padding: 0;
    margin-top: 5rem;
    margin-bottom: 0;
  }
  .faq-section::before {
    position: absolute;
    z-index: 5;
    width: 50px;
    top: 40%;
    left: -9%;
    content: url("../assets/images/illustration-box-desktop.svg");
  }
  .faq-section .banner {
    overflow: hidden;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(0);
    padding: 2rem;
    margin-bottom: 0;
  }
  .faq-section .banner .banner-image {
    position: relative;
    right: 6rem;
  }
  .faq-section .banner .banner-image::after {
    content: "";
    transform: translateY(0);
  }

  .faq {
    padding: 5rem 9rem 5rem 3rem;
    width: 100%;
  }
  .faq header {
    text-align: left;
    font-size: 2rem;
  }
  .faq details summary {
    font-size: 1.3rem;
  }
  .faq details p {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
